body{
    background-color: rgb(224, 91, 13);
    font-family: 'Poppins', sans-serif;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    margin-left: 20%;
    margin-right: 33%;
    margin-top: 50px;
    
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(0, 0, 145);
    outline: none;
    font-size: 19px;
 }
 button{
    width: 60px;
    height: 41px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: blue;
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }